<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <a class="navbar-brand" style="z-index: 10;" href="{{ url_for('home') }}">USER Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('new_post') }}">Add post</a>
          </li>
        {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('register') }}">register</a>
          </li>
        {%endif%}
      </ul>
    </div>
  </nav>
  