<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" style="z-index: 10;" href="{{ url_for('home') }}">MINI Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('new_post') }}">Add post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register') }}">register</a>
        </li>
        {%endif%}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contact Me
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="https://web.facebook.com/winning.godspower"><i class="bi bi-facebook"></i></a> 
            </li>
            <li>
              <a class="dropdown-item" href=""><i class="bi bi-linkedin"></i></a>
            </li>
            <li>
              <a class="dropdown-item" href="https://github.com/winninggodspower"><i class="bi bi-github"></i></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>